<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero Animales</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <main class="contenedor">
        
        <article class="linea">
            <h1>Tablero de Animales</h1>
            <form id="formulario" method="post">
            <table class="Datos">
                <tr>
                    <td><b>Name(*)</b></td>
                    <td><input class="campo" type="text" name="name" id="name"></td>
                </tr>
                <tr>
                    <td><b>Type Animal(*)</b></td>
                    <td><select class="campo"  name="typeanimal" id="typeanimal">
                        <option value="">Seleccione tipo animal</option>
                        <option value="grulla">Grulla</option>
                        <option value="perro">Perro</option>
                        <option value="gato">Gato</option>
                    </select></td>
                </tr>
                <tr>
                    <td><b>Age(*)</b></td>
                    <td><input class="campo" type="text" name="age" id="age"></td>
                </tr>
            </table>
            </form>
        </article>
        <article>
            <% for (var x in errores) { %>
                <h4><%= errores[x] %></h4>
            <% } %>
        </article>
        <article  class="lineabtn">
            <div><button id="agregar">Agregar Animal!</button></div>
            <div><button id="volver">Volver!</button></div>
        </article>
    </main>
    <script src="../js/script-nuevo.js"></script>
</body>
</html>